<p id="notice"><%= notice %></p>

<div class="container">
  <h3>Products</h3>
  <div class="table-responsive">          
  
    
    
    <% @products.each do |product| %>
    <table class="table">
      <thead> 
        
        <tr>
          <td><%= image_tag(product.images[0].url,style: 'height:100px;width:150px;' )%></td>
        </tr>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.condition %></td>
        </tr>
        <tr>
          <td><%= product.price %></td>
          
        </tr>
        <tr>
          <td>
            <% if user_signed_in? and (product.sellerId == current_user.id)%>
              <button type="button" class="btn btn-warning">
              <%= link_to 'Edit', edit_product_path(product) %> </button></td>
            <% elsif user_signed_in?%>
              <button type="button" class="btn btn-success" >
                <%= link_to "Buy Now", new_charge_path %>
              </button>
            <% else %>
              <button type="button"  class="btn btn-success">
                <%= link_to "Buy Now", new_user_session_path %>
              </button></td>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-info"><%= link_to 'Show', product%>  </button></td>
        </tr>
      </thead>
    </table>
    <% end %>
    

    
  
  </div>
</div>



